body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    overflow: hidden;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .option{
    padding: 8px 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
}

.option> div {
    display: flex;
    align-items: center;
}

.option > div:nth-child(1){
    margin-right: 10px;
}

.option > div:nth-child(2){
    min-width: 80px;
    margin-right: 10px;
}

.hori{
    width: 1px;
    min-height: 30px;
    max-height:60px;
    background-color: black;
    margin-right: 10px;
    margin-left: 10px;
}

.label{
    display: flex;
    align-items: center;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.stock{
    margin-right: 20px;
}  